.header-container {
  height: 80px;
  background: rgb(138, 138, 138);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin-bottom: 30px;
  color: white;
  font-weight: 200;
}
