.button-copy {
  position: relative;
  width: 40px;
  height: 44px;
  padding: 2px;
  right: -70px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 226, 226);
  outline: none;
  border: none;
}

.button-copy:hover {
  color: #aaa;
}

.button-copy:active,
.button-copy:focus {
  outline: none;
}

.button-copy:hover :nth-child(2) {
  visibility: visible;
  opacity: 1;
}

.button-copy:active :nth-child(2) {
  position: absolute;
}

.span-copy {
  visibility: hidden;
  width: 160px;
  background-color: rgb(138, 138, 138);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.span-copy:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(138, 138, 138) transparent transparent transparent;
}
